<main>
  <div class="container">
    <div class="container-header">
      <button
        class="header-button order-button rotate-button"
        mat-mini-fab
        color="accent"
        (click)="changeOrder()"
        [class.rotated]="rotated"
        [matTooltip]="
          this.rotated ? 'Más recientes arriba' : 'Más recientes abajo'
        "
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <h2 class="header-text">Lista de Tareas</h2>

      <button
        mat-fab
        color="primary"
        matTooltip="Agregar tarea"
        aria-label="Example icon button with a plus one icon"
        class="header-button"
        (click)="openDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="container-body">
      <app-card></app-card>
    </div>
  </div>
  <div class="modal"></div>
</main>
